html {
  -webkit-apperance: none;
}

body {
background-color: rgb(255, 255, 255);
height: 100%;
margin: 0;
padding: 0;
}

.main {
border: 3px rgb(112, 112, 112) solid;
background-color: #28314e;
box-shadow: 5px 5px 5px #00000073;
border-radius: 15px;
width: 40%;
margin: auto;
margin-top: 200px;
line-height: 1.5em;
letter-spacing: 1px;
max-width: 40%;
}

.container {
text-align: center;
color: white;
}

/*.container button {*/
/*    background-color: white;*/
/*    color: blue;*/
/*}*/

.container h1 {
color: white;
}


button {
color: #28314e;
border-radius: 5px;
margin-bottom: 8px;
border: 5px white solid;
background-color: white;
}

input {
border-radius: 5px;
width: 25%;
}

h1 {
color: red;
}

.errorlist li {
display: none;
}

#id_password {
margin-left: 5px;
}

#signup {
margin: 0;
padding-top: 3px;
padding-left: 3px;
}


#signup button {
margin: 0;
padding: 0;
right: 100%;
background-color: #28314e;
color: #ffffff;
border-radius: 10px;
width: 100px;
height: 50px;
list-style-type: none;
border: none;
}

/*#signup button {*/
/*  margin: auto;*/

/*}*/

@media only screen and (max-width: 1000px) {
.main {
  width: 95%;
}
}